---
const pageTitle = "A propos de moi";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>Mon site Astro</h1>
        <h1>{pageTitle}</h1>
        <h2>... et de mon nouveau site Astro !</h2>
        <p>Il s'agit d'un site pour le présenter et parler de mes compétences.</p>
        <p>Pour retourner au menu :</p>
        <a href="/">Accueil</a>
        <p>Pour aller sur mon blog :</p>
        <a href="/blog">Mon blog</a>
	</body>
</html>
