---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1>Bienvenue sur ma page de blog</h1>
        <p>Pour aller sur ma page a propos :</p>
        <a href="/about">A propos de moi</a>
        <p>Pour aller sur ma page d'accueil :</p>
        <a href="/">Accueil</a>
	</body>
</html>
